
body {
    font-family: <?php echo FONT_FAMILY; ?>;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    background-image: url(<?php echo BACKGROUND_IMAGE; ?>);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    opacity: <?php echo defined('BACKGROUND_OPACITY') ? BACKGROUND_OPACITY : 1; ?>;
}
header {
    background-color: var(--header-color);
    padding: 10px;
    text-align: center;
    color: white;
}
footer {
    background-color: var(--footer-color);
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
    line-height: 0;
}
nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
}
.container {
    background-image: url(<?php echo FOREGROUND_IMAGE; ?>);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    border-radius: 8px;
    opacity: <?php echo defined('FOREGROUND_OPACITY') ? FOREGROUND_OPACITY : 1; ?>;
}
.color-button {
    margin: 1px;
    padding: 1px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 10px;
    color: white;
}
